.image-pasted-2024-20-11-at-18-04-02-png {
	width: 1013px;
	height: 1080px;
	background: #00000000;
}
.rectangle-2 {
	width: 837px;
	height: 213px;
	padding: 8px 8px 8px 8px;
	opacity: 58%;
	background: #72BB53;
	border-color: #72BB53;
	border-width: 1px;
	border-style: solid;
}
.paragraph-1-copy-3 {
	width: 778px;
	height: 145px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: 700;
	font-size: 54px;
	line-height: 1.28;
	text-align: left;
}
.paragraph-1-copy-2 {
	width: 342px;
	height: 58px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: 700;
	font-size: 45px;
	line-height: 1.28;
	text-align: center;
}
.usuario-o-correo-electr-nico- {
	width: 440px;
	height: 42px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 26px;
	text-align: left;
}
.text-input-1 {
	width: 559px;
	height: 74px;
	padding: 4px 8px 4px 8px;
	background: #FFFFFF;
	color: #606060;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 19px;
	text-align: left;
}
.contrase-a {
	width: 164px;
	height: 42px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 26px;
	text-align: left;
}
.text-input-2 {
	width: 559px;
	height: 74px;
	padding: 4px 8px 4px 8px;
	background: #FFFFFF;
	color: #606060;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 19px;
	text-align: left;
}
.-olvidaste-la-contrase-a- {
	width: 248px;
	height: 34px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 19px;
	text-decoration: underline;
	text-align: left;
}
.checkbox-1 {
	width: 166px;
	height: 31px;
	background: #FFFFFF;
	color: #000000;
	border-color: #000000;
	border-width: 1.5px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 20px;
	text-align: left;
}
.button-1 {
	width: 559px;
	height: 64px;
	padding: 0px 10px 0px 10px;
	background: #92D36E;
	color: #000000;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 25px;
	text-align: center;
}
.horizontal-line-1 {
	width: 862.9999845921993px;
	height: 1px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}
.es-tu-primera-vez-reg-strate-aqu- {
	width: 440px;
	height: 42px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 26px;
	text-align: left;
}
.button-2 {
	width: 559px;
	height: 64px;
	padding: 0px 10px 0px 10px;
	background: #629C44;
	color: #000000;
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 25px;
	text-align: center;
}
