.rectangle-9 {
	width: 1345px;
	height: 116px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
}
.emprendimiento {
	width: 140px;
	height: 21px;
	color: #000000;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
}
.proyectos {
	width: 138px;
	height: 21px;
	color: #000000;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
}
.quejas {
	width: 138px;
	height: 21px;
	color: #000000;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
}
.rectangle-2 {
	width: 633px;
	height: 52px;
	padding: 8px 8px 8px 8px;
	box-shadow: -3px 4px 16px rgba(146, 211, 110, 0.68);
	background: #FFC95799;
}
.rectangle-1 {
	width: 211px;
	height: 3px;
	padding: 8px 8px 8px 8px;
	box-shadow: -3px 4px 16px rgba(146, 211, 110, 0.68);
	background: #FFC95799;
}
.bootstrap-red-button-normal-1 {
	width: 114px;
	height: 29px;
	padding: 0px 10px 0px 10px;
	background: #D9534F;
	color: #FFFFFF;
	border-color: #D43F3A;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
.paragraph-1-copy-8 {
	width: 171px;
	height: 34px;
	color: #444444;
	font-family: "Source Sans 3";
	font-weight: 700;
	font-size: 22px;
	line-height: 1.28;
	text-align: left;
}
.at-sign-icon-1 {
	width: 32px;
	height: 32px;
	background: #444444;
}
.image-pasted-2024-18-11-at-20-16-13-png {
	width: 1345px;
	height: 571px;
	background: #00000000;
}
.paragraph-1-copy-10 {
	width: 610px;
	height: 131px;
	color: #000000;
	font-family: "Spicy Rice";
	font-weight: bold;
	font-size: 36px;
	line-height: 1.28;
	text-align: center;
}
.rectangle-6 {
	width: 1005px;
	height: 265px;
	padding: 8px 8px 8px 8px;
	background: #AEDD94B3;
	border-radius: 6px 6px 6px 6px;
}
.paragraph-1-copy-7 {
	width: 307px;
	height: 78px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: bold;
	font-size: 23px;
	line-height: 1.28;
	text-align: center;
}
.image-placeholder-1-copy-11 {
	width: 244px;
	height: 163px;
	background: #00000000;
	border-radius: 6px 6px 6px 6px;
}
.con-recursos-de-sobretasa-ambiental-se-da-millonar {
	width: 235px;
	height: 82px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: bold;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.funcionarios-de-cortolima-junto-a-la-alcald-a-de-h {
	width: 210px;
	height: 83px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
	text-align: left;
}
.image-placeholder-1-copy-10 {
	width: 244px;
	height: 163px;
	background: #00000000;
	border-radius: 6px 6px 6px 6px;
}
.image-placeholder-1-copy-9 {
	width: 244px;
	height: 163px;
	background: #00000000;
	border-radius: 6px 6px 6px 6px;
}
.image-placeholder-1-copy-8 {
	width: 244px;
	height: 163px;
	background: #00000000;
	border-radius: 6px 6px 6px 6px;
}
.aumento-de-nivel-del-r-o-magdalena-ocasion-inunda {
	width: 235px;
	height: 82px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: bold;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.la-satisfacci-n-de-dar-amor-a-trav-s-del-servicio {
	width: 235px;
	height: 61px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: bold;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.en-una-excelente-labor-conjunta-los-organismos-de- {
	width: 235px;
	height: 100px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: bold;
	font-size: 18px;
	line-height: 1.3;
	text-align: left;
}
.despu-s-de-realizar-un-sobrevuelo-exhaustivo-sobre {
	width: 210px;
	height: 73px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
	text-align: left;
}
.mas-de-50-familias-resultaron-afectadas-por-las-em {
	width: 210px;
	height: 73px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
	text-align: left;
}
.el-patrullero-salas-y-su-amor-por-los-ancianos-no- {
	width: 210px;
	height: 96px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
	text-align: left;
}
.rectangle-11 {
	width: 1345px;
	height: 256px;
	padding: 8px 8px 8px 8px;
	background: #FF662499;
}



.paragraph-1-copy-9 {
	width: 171px;
	height: 35px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: 700;
	font-size: 22px;
	line-height: 1.28;
	text-align: left;
}
.at-sign-icon-2 {
	width: 32px;
	height: 33px;
	background: #444444;
}
.juntos-impulsamos-un-honda-m-s-innovador-y-sosteni {
	width: 210px;
	height: 74px;
	color: #000000;
	font-family: "Source Sans 3";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
	text-align: left;
}